[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gadi = {editable = true, path = "."}
pytest-cov = "*"
pytest = "*"
wheel = "*"

[packages]
lxml = "*"
pydantic = "*"
pyhumps = "*"
invoke = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
tqdm = "*"
requests = "*"
alembic = "*"
sqlalchemy-utils = "*"
declxml = "*"

[requires]
python_version = "3.10"
